---
layout: default
description: "You can search for items in Lineage 2M to find a collection of items related to the alchemy material in which the item exists."
---
<section class="recent-wrapper">
  <header>
    <h1>Lineage2m Alchemy information</h1>
  </header>
  <div class="recent" lang="ko">
    {% assign posts = site.categories.tips | where:"lang", "ko" | sort: 'lang-ref' %}
    {% if posts.size > 1 %}
      {% for post in posts %}
        <article class="post">
          <h2>{{ post.title }}</h2>
          <h2>{{ post.jp }}</h2>
          <a href="{{ site.baseurl }}{{ post.url }}"><span class="flag flag-kr"> </span> Kor</a>
          <a href="{{ site.baseurl }}{{ post.url | replace: "ko", "jp" }}"><span class="flag flag-jp"> </span>Jap</a>
        </article>
      {% endfor %}
    {% endif %}
  </div>
</section>

<section class="recent-wrapper">
  <header>
    <h1>Lineage2m information</h1>
  </header>
  <div class="recent" lang="jp">
    {% assign posts = site.categories.info | where:"lang", "jp" %}
      {% for post in posts %}
        <article class="post">
          <h2>{{ post.title }}</h2>
          <a href="{{ site.baseurl }}{{ post.url | replace: "ko", "jp" }}"><span class="flag flag-jp"> </span>Jap</a>
        </article>
      {% endfor %}
  </div>
</section>


<h1><a href="https://twitter.com/L2MDCSCAM">Twitter</a></h1>
