---
layout: default
title: 天堂2M煉金術搜索器
excerpt: "在天堂 2M中搜索項目時, 可以查看與該項目所在的鍊金材料相關的項目集合。"
tags: [天堂2M, 天堂2m, 煉金術, 煉金公式, 煉金材料]
---
<section class="recent-wrapper">
  <header>
    <h1>天堂2M煉金術搜索器</h1>
  </header>
  <div class="recent" lang="zh-TW">
    {% assign posts = site.categories.tips | where:"lang", "tw" %}
      {% for post in posts %}
        <article class="post">
          <a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
        </article>
      {% endfor %}
  </div>
</section>

<section class="recent-wrapper">
  <header>
    <h1>天堂2M情報</h1>
  </header>
  <div class="recent" lang="zh-TW">
    {% assign posts = site.categories.info | where:"lang", "tw" %}
      {% for post in posts %}
        <article class="post">
          <a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
        </article>
      {% endfor %}
  </div>
</section>

<h1><a href="https://twitter.com/L2MDCSCAM">Twitter</a></h1>

<section class="recent-wrapper">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3351244032029642"
      crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-3351244032029642"
      data-ad-slot="2713988780"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>
