<div class="alc_wrap">
	<div class="top">
		<div class="thumb-img">
			<img class="thumb2" src="https://wstatic-cdn.plaync.com/plaync/gameinfo/img/thumb-lineage2m.png">
		</div>
      	<div class="title">
			<h1 id="item_name"></h1>
			
		</div>
	</div>
	<div class="menu">
		<ul>
			<li>
				<a href="">정보</a>
			</li>
			<li>
				<a href="">일반 연금</a>
			</li>
			<li>
				<a href="">상급 연금</a>
			</li>
			<li>
				<a href="">컬렉션(<span class="collection_count"></span>)</a>
			</li>
		</ul>
	</div>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3351244032029642"
	crossorigin="anonymous"></script>
<ins class="adsbygoogle"
	style="display:block"
	data-ad-format="fluid"
	data-ad-layout-key="-gu-18+5g-2f-83"
	data-ad-client="ca-pub-3351244032029642"
	data-ad-slot="6724709963"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	<div class="price">
		<div class="price_select">
			<img src="{{ base.url | prepend: site.url }}/images/trade.svg" style="opacity: 0.5;">
			<select id="enchant_level">
        {% for i in (0..13) %}
        <option value="{{ i }}">+{{ i }}</option>
        {% endfor %}
			</select>
			<span id="item_name2"></span>
		</div>
		<div class="price_info"></div>
	</div>
	<div class="info">
		<h2 class="trade_category_name"></h2>
		<ul class="options">
		</ul>
	</div>
</div>


<script type="text/javascript">
  var lng = "{{ lang[1] }}";
</script>
<script src="{{ base.url | prepend: site.url }}/assets/ncapi.js?version=20221130"></script>
<script>
	$(window).onload(function(){
		let item_id = getParameterByName('item');
		let page_type = getParameterByName('type');
		
		let url = $(location).attr('host') + '' +$(location).attr('pathname');
		$(".menu").eq(1).children().children().eq(0).children().attr("href", 'https://'+ url + '?item='+ item_id);
		$(".menu").eq(1).children().children().eq(1).children().attr("href", 'https://'+ url + '?item='+ item_id + '&type=1');
		$(".menu").eq(1).children().children().eq(2).children().attr("href", 'https://'+ url + '?item='+ item_id + '&type=2');
		$(".menu").eq(1).children().children().eq(3).children().attr("href", 'https://'+ url + '?item='+ item_id + '&type=3');
		ncapi("price", getParameterByName('item'), 0);

		if(page_type < 1){
			ncapi("items", getParameterByName('item'), 0);
		}
		$('#enchant_level').on('change', function() {
			ncapi("price", getParameterByName('item'), this.value);
		});
	});
</script>
