<div class="alc_wrap">
	<div class="top">
		<div class="thumb">
			<img class="thumb2" src="https://wstatic-cdn.plaync.com/plaync/gameinfo/img/thumb-lineage2m.png">
		</div>
      	<div class="title">
			<h1 id="item_name"></h1>
			정보 / 일반 연금 / 상급 연금 / 컬렉션(<span class=""></span>)
		</div>
	</div>
	<div class="price">
		<div class="price_select">
			<img src="{{ base.url | prepend: site.url }}/images/trade.svg" style="opacity: 0.5;">
			<select id="enchant_level">
        {% for i in (1..13) %}
        <option value="{{ i }}">+{{ i }}</option>
        {% endfor %}
			</select>
			<span id="item_name2"></span>
		</div>
		<div class="price_info"></div>
	</div>
	<div class="info">
		<h2 class="trade_category_name"></h2>
		<ul class="options">
		</ul>
	</div>
</div>


<script type="text/javascript">
  var lng = "{{ lang[1] }}";
</script>
<script src="{{ base.url | prepend: site.url }}/assets/ncapi.js?version=20221130"></script>
<script>
  ncapi("items", getParameterByName('item'), 0);

  $('#enchant_level').on('change', function() {
    ncapi("price", 100630002, this.value);
  });
</script>
