{% assign page2 = page.url | split: "/" %}

{% if page2.size == 3 %}
  {% assign page = page.url | append: "weapon/page/1" %}
  {% assign page = page | split: "/" %}
{% elsif page2.size == 4 %}
  {% assign page = page.url | append: "page/1" %}
  {% assign page = page | split: "/" %}
{% elsif page2.size == 5 %}
  {% assign page = page.url | append: "1" %}
  {% assign page = page | split: "/" %}
{% else %}
  {% assign page = page.url | split: "/" %}
{% endif %}


{% assign type = "item_" | append: page[3] %}
{% assign paging = page[5] | minus: 1 %}
{% if paging == 0 %}
  {% assign paging = 0 %}
{% else %}
  {% assign paging = paging | times: 40 %}
{% endif %}
{% assign list=site.data[type] %}
{% assign no=1 %}
<script src="{{ base.url | prepend: site.url }}/assets/ncapi.js?version=20221130"></script>
<section class="list-wrapper">
  <header>
    <h1>아이템 목록</h1>
    <span class="item_type_view"></span>
    <span class="item_type_view"></span>
    <ul class="item_type_list item_list">
      {% for item_type in site.data.item_list.type %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_type.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_type.tw }}
          {% else %}
            {{ item_type.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="item_armor_list item_list item_sub" style="display:none;">
      {% for item_armor in site.data.item_list.armor %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_armor.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_armor.tw }}
          {% else %}
            {{ item_armor.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="item_acc_list item_list item_sub" style="display:none;">
      {% for item_acc in site.data.item_list.acc %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_acc.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_acc.tw }}
          {% else %}
            {{ item_acc.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="item_class_list item_list item_sub" style="display:none;">
      {% for item_class in site.data.item_list.class %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_class.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_class.tw }}
          {% else %}
            {{ item_class.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <script>
    var click_type = $('.item_type_list').children();
    click_type.click(function () {
      var indexno = $(this).index();
      if(indexno === 0){
        $('.item_class_list').show();
        $('.item_armor_list').hide();
        $('.item_acc_list').hide();
      } else if(indexno === 1){
        $('.item_class_list').hide();
        $('.item_armor_list').show();
        $('.item_acc_list').hide();
      } else if(indexno === 2){
        $('.item_class_list').hide();
        $('.item_armor_list').hide();
        $('.item_acc_list').show();
      } else if(indexno === 3){
        $('.item_class_list').show();
        $('.item_armor_list').hide();
        $('.item_acc_list').hide();
      }
      $(this).css('color', 'rgba(255, 255, 255, 0.83)');
      $('.item_type_view').eq(0).text(indexno);
    });

    var click_type2 = $('.item_sub').children();
    click_type2.click(function () {
      var indexno = $(this).index();
      $(this).css('color', 'rgba(255, 255, 255, 0.83)');
      $('.item_type_view').eq(1).text(indexno);
    });
    
    </script>
    <ul class="menu">
      <li><a href="{{ site.url }}{{ page[0] }}/{{ page[1] }}/{{ page[2] }}/weapon/{{ page[4] }}/1">무기</a></li>
      <li><a href="{{ site.url }}{{ page[0] }}/{{ page[1] }}/{{ page[2] }}/armor/{{ page[4] }}/1">방어구</a></li>
      <li><a href="{{ site.url }}{{ page[0] }}/{{ page[1] }}/{{ page[2] }}/accessary/{{ page[4] }}/1">장신구</a></li>
      <li><a href="{{ site.url }}{{ page[0] }}/{{ page[1] }}/{{ page[2] }}/skill/{{ page[4] }}/1">스킬북</a></li>
    </ul>
    전체 : {{ paging }}/{{ list.size }}
  </header>
  <div class="list" lang="{{ page[1] }}">
    <article class="items">
      <ul>
        {% for item in list in array offset:paging %}
          {% if no == 41 %}
            {% break %}
          {% else %}
            <li>
              {% if item.normal == 1 %}
              <a href="https://purple2m.github.io/{{ page[1] }}/alchemist/?item={{ item.id }}&type=1">일반</a>
              {% endif %}
              {% if item.top == 1 %}
              <a href="https://purple2m.github.io/{{ page[1] }}/alchemist/?item={{ item.id }}&type=2">상급</a>
              {% endif %}
                <img class="thumb {{ item.id }}" src="" onerror="this.src='https://wstatic-cdn.plaync.com/plaync/gameinfo/img/thumb-lineage2m.png';">

                {{ item.ko }}
            </li>
            {% assign no = no | plus: 1 %}
          {% endif %}
        {% endfor %}
      </ul>
    </article>
  </div>

  <footer>
    {% assign page_all = list.size | divided_by: 40.0 }}}
    {% assgin page_all = page_all | ceil %}
    <ul class="menu">
      {% for i in (1..page_all) %}
      <li><a href="{{ site.url }}{{ page[0] }}/{{ page[1] }}/{{ page[2] }}/{{ page[3] }}/{{ page[4] }}/{{ i }}">{{ i }}</a></li>
      {% endfor %}
    </ul>
  </footer>
</<section>
