{% assign page2 = page.url | split: "/" %}

{% if page2.size == 3 %}
  {% assign page = page.url | append: "weapon/page/1" %}
  {% assign page = page | split: "/" %}
{% elsif page2.size == 4 %}
  {% assign page = page.url | append: "page/1" %}
  {% assign page = page | split: "/" %}
{% elsif page2.size == 5 %}
  {% assign page = page.url | append: "1" %}
  {% assign page = page | split: "/" %}
{% else %}
  {% assign page = page.url | split: "/" %}
{% endif %}

<script src="{{ base.url | prepend: site.url }}/assets/ncapi.js?version=20221130"></script>
<section class="list-wrapper">
    <h1>아이템 목록</h1>
    <span class="item_type_view" style="display: none;"></span>
    <span class="item_type_view" style="display: none;"></span>
    <ul class="item_type_list item_list">
      {% for item_type in site.data.item_list.type %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_type.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_type.tw }}
          {% else %}
            {{ item_type.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="item_armor_list item_list item_sub" style="display:none;">
      {% for item_armor in site.data.item_list.armor %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_armor.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_armor.tw }}
          {% else %}
            {{ item_armor.ko }}
          {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="item_acc_list item_list item_sub" style="display:none;">
      {% for item_acc in site.data.item_list.acc %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_acc.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_acc.tw }}
          {% else %}
            {{ item_acc.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="item_class_list item_list item_sub" style="display:none;">
      {% for item_class in site.data.item_list.class %}
        <li>
          {% if page[1] == "jp" %}
            {{ item_class.jp }}
          {% elsif page[1] == "tw" %}
            {{ item_class.tw }}
          {% else %}
            {{ item_class.ko }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <script>
    var click_type = $('.item_type_list').children();
    click_type.click(function () {
      var indexno = $(this).index();
      if(indexno === 0){
        $('.item_class_list').show();
        $('.item_armor_list').hide();
        $('.item_acc_list').hide();
      } else if(indexno === 1){
        $('.item_class_list').hide();
        $('.item_armor_list').show();
        $('.item_acc_list').hide();
      } else if(indexno === 2){
        $('.item_class_list').hide();
        $('.item_armor_list').hide();
        $('.item_acc_list').show();
      } else if(indexno === 3){
        $('.item_class_list').show();
        $('.item_armor_list').hide();
        $('.item_acc_list').hide();
      }
      $(this).css('color', 'rgba(255, 255, 255, 0.83)');
      $('.item_type_list').children().not(this).css('color', '#757981');
      $('.item_type_view').eq(0).text(indexno);
      $('.item_type_view').eq(1).text('');
    });

    var click_type2 = $('.item_sub').children();
    click_type2.click(function () {
      var indexno = $(this).index();
      $(this).css('color', 'rgba(255, 255, 255, 0.83)');
      $('.item_sub').children().not(this).css('color', '#757981');
      $('.item_type_view').eq(1).text(indexno);
      item_list_view();
    });
    

    function item_list_view(){
      var list1 = $('.item_type_view').eq(0).text();
      if(list1 == 1){
        list1 = "armor";
      } else if(list1 == 2){
        list1 = "accessary";
      } else if(list1 == 3){
        list1 = "skill";
      } else {
        list1 = "weapon";
      }
      
      var list2 = $('.item_type_view').eq(1).text();

      $.getJSON(baseurl+"/item/"+list1+"_"+list2+".json?version=20220801", function(data) {
        var lng = $(location).attr('pathname');
        lng = lng.split('/');
        lng = lng[1];
        
        var find = '';
        for (var i=0; i < data.length;++i){
          find += "<li>";
          find += "<a href=\"https://purple2m.github.io/"+lng+"/alchemist/?item="+data[i]['id']+"\">";
          find += "<img class=\"thumb\" src=\"https://assets.playnccdn.com/gamedata/powerbook/l2m/icon/Icon_128/Item/Icon_"+data[i]['icon']+"\" onerror=\"this.src='https://wstatic-cdn.plaync.com/plaync/gameinfo/img/thumb-lineage2m.png';\">";
          if(lng == "jp"){
            find += data[i]['jp'];
          } else {
            find += data[i]['ko'];
          }
          find += "</a></li>";
        }
        if (find){
          $('.items').eq(0).children().html(find);
        }
      });
    }
    </script>
  <div class="list" lang="{{ page[1] }}">
    <article class="items">
      <ul>
        <li>
          <img class="thumb" src="https://wstatic-cdn.plaync.com/plaync/gameinfo/img/thumb-lineage2m.png"">
          {% if page[1] == "jp" %}
            アイテム分類を選択してください。
          {% elsif page[1] == "tw" %}
            請選擇單品分類。
          {% else %}
            아이템 분류를 선택해주세요
          {% endif %}
          
        </li>
      </ul>
    </article>
  </div>

</<section>
