<nav class="categories">
    <ul>
        {% for item_categories in site.data.categories %}
        <li>
            {% if page[1] == "jp" %}
                {{ item_categories.jp }}
            {% elsif page[1] == "tw" %}
                {{ item_categories.tw }}
            {% elsif page[1] == "ru" %}
                {{ item_categories.ru }}
            {% else %}
                {{ item_categories.ko }}
            {% endif %}
            <ul>
                {% for child in item_categories.child %}
                    <li>
                       {{ child.ko }} 
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>