---
layout: ko
title: 리니지2M 클래스 체인지
excerpt: "리니지2M의 클래스 체인지시 상호 교체 스킬 목록을 확인할 수 있습니다."
tags: [리니지2M, 리니지2m, 연금 검색기, 클레스체인지, 클체]
---
{% assign page = page.url | split: "/" %}

<ul>
    {% if page[1] == "jp" %}

    {% elsif page[1] == "tw" %}

    {% else %}
        <li>신화</li>
        <li>전설</li>
        <li>영웅</li>
    {% endif %}
</ul>
<ul>
    {% for skill_list in site.data.skill %}
      {% if skill_list.grade == "mythic" %}
      <li>
        {% if page[1] == "jp" %}
        {% elsif page[1] == "tw" %}

        {% else %}
          {% assign skills_in = skill_list.ko.1 | split: "," %}
          <ul>
            {% for skills in skills_in %}
            {{ skills | replace: '["', '' }}
            {{ skills | replace: '"]', '' }}
            <li>{{ skills }}</li>
            {% endfor %}
          </ul>
          {% assign skills_in = skill_list.ko.2 | split: "," %}
          <ul>
            {% for skills in skills_in %}
            {{ skills | replace: '["', '' }}
            {{ skills | replace: '"]', '' }}
            <li>{{ skills }}</li>
            {% endfor %}
          </ul>

          <li><h2></h2>{{ skill_list.ko.5 }}</li>
        {% endif %}
      </li>
      {% endif %}
      {% if skill_list.grade == "legendary" %}
        {% if page[1] == "jp" %}
        {% elsif page[1] == "tw" %}
        {% else %}
          <li><h2>{{ skill_list.ko.1 | size }}</h2>{{ skill_list.ko.1 }}</li>
          <li><h2>{{ skill_list.ko.2 | size }}</h2>{{ skill_list.ko.2 }}</li>
          <li><h2>{{ skill_list.ko.3 | size }}</h2>{{ skill_list.ko.3 }}</li>
          <li><h2>{{ skill_list.ko.4 | size }}</h2>{{ skill_list.ko.4 }}</li>
          <li><h2></h2>{{ skill_list.ko.5 }}</li>
        {% endif %}
      {% endif %}

      {% if skill_list.grade == "epic" %}
        {% if page[1] == "jp" %}
        {% elsif page[1] == "tw" %}
        {% else %}
          <li><h2>{{ skill_list.ko.1 | size }}</h2>{{ skill_list.ko.1 }}</li>
          <li><h2>{{ skill_list.ko.2 | size }}</h2>{{ skill_list.ko.2 }}</li>
          <li><h2>{{ skill_list.ko.3 | size }}</h2>{{ skill_list.ko.3 }}</li>
          <li><h2>{{ skill_list.ko.4 | size }}</h2>{{ skill_list.ko.4 }}</li>
          {% for skill_5 in skill_list.ko.5 %}
          <li>{{ skill_5 }}dd</li>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
</ul>