---
layout: default
---
<a href="{{ site.baseurl }}">Back</a>
<div class="date">최종 갱신일 : {{ page.date | date: "%F" }}</div>
<section>
  <div class="thumb"><img class="thumb" src="{{ page.thumb }}"></div>
  <div class="spec">
      <ul class="name">
          <li class="ko"><span class="flag flag-kr"> </span>{{ page.kr }}</li>
          <li class="jp"><span class="flag flag-jp"> </span>{{ page.jp }}</li>
          <li class="tw"><span class="flag flag-tw"> </span>{{ page.tw }}</li>
          <li class="ru"><span class="flag flag-ru"> </span>{{ page.ru }}</li>
      </ul>
  </div>
</section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3351244032029642"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-layout="in-article"
data-ad-format="fluid"
data-ad-client="ca-pub-3351244032029642"
data-ad-slot="2335136293"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="alc_wrap">
	<div class="menu">
		<ul>
			<li onclick="menu_info(this_item_id, lng, 'menu');">
				정보
			</li>
			<li onclick="menu_info(this_item_id, lng, 'normal');">
				일반 연금
			</li>
			<li onclick="menu_info(this_item_id, lng, 'top');">
				상급 연금
			</li>
		</ul>
	</div>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3351244032029642"
	crossorigin="anonymous"></script>
<ins class="adsbygoogle"
	style="display:block"
	data-ad-format="fluid"
	data-ad-layout-key="-gu-18+5g-2f-83"
	data-ad-client="ca-pub-3351244032029642"
	data-ad-slot="6724709963"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	<div class="info"></div>
</div>
<section class="content">{{ content }}</section>
<script src="{{ base.url | prepend: site.url }}/assets/ncapi.js?version=20230204"></script>
<script>
	
	let this_item_id = getParameterByName('item');
	let this_type = getParameterByName('type');
	
	let this_page = $(location).attr('host') + '' + $(location).attr('pathname');
	var lng = $(location).attr('pathname').split('/');
	lng = lng[1];

	if(lng == 'jp'){
		$(".menu").eq(2).children().children().eq(0).text('情報');
		$(".menu").eq(2).children().children().eq(1).text('ふつう錬金');
		$(".menu").eq(2).children().children().eq(2).text('上級錬金');
		$(".menu").eq(2).children().children().eq(3).html('コレクション(<span class="collection_count"></span>)');
	}else if(lng == 'tw'){
		$(".menu").eq(2).children().children().eq(0).text('信息');
		$(".menu").eq(2).children().children().eq(1).text('常規鍊金術');
		$(".menu").eq(2).children().children().eq(2).text('上級鍊金術');
		$(".menu").eq(2).children().children().eq(3).html('收藏品(<span class="collection_count"></span>)');
	}else if(lng == 'ru'){
		$(".menu").eq(2).children().children().eq(0).text('Сведения');
		$(".menu").eq(2).children().children().eq(1).text('Традиционная алхимия');
		$(".menu").eq(2).children().children().eq(2).text('Высшая алхимия');
		$(".menu").eq(2).children().children().eq(3).html('Коллекции(<span class="collection_count"></span>)');
	}

	if(this_type > 0){
		get_recipe(this_item_id, lng, this_type);
	}

	function menu_info(this_item_id, lng, menu){
    if(menu != 'menu'){
      $(".info").show();
      $(".content").hide();
      get_recipe(this_item_id, lng, menu);
    }else{
      $(".info").hide();
      $(".content").show();
    }
	}

	function view_list(e){
		$(e).children('ul').eq(1).toggle();
	}

</script>
</article>