---
layout: default
---
<a href="{{ site.baseurl }}/jp">Back</a>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    {{ page.date | date: "%F" }}
  </div>

  <div class="entry">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3351244032029642"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3351244032029642"
     data-ad-slot="2335136293"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {{ content }}
  </div>

</article>
<a href="{{ site.baseurl }}/jp">Back</a>
